---
title: "Florent Jaouali : Psychopraticien Transpersonnel & Gardien du Seuil"
description: "Rencontrez Florent Jaouali, psychopraticien transpersonnel. Découvrez son approche intégrative (hypnose, holotropique) et son rôle de gardien du seuil."
permalink: /a-propos/
---

<section class="section intro">
  <div class="container content has-text-centered">
    <h1 class="title is-3">À propos</h1>    
    <p><img class="florent" src="/images/florent.png" srcset="/images/florent.png, /images/florent@2x.png 2x" alt="Florent Jaouali, Psychopraticien transpersonnel"></p>
    <h2 class="is-simple">Je suis Florent Jaouali, psychopraticien transpersonnel à Villefranche-de-Lauragais.</h2>
    <hr />
    <p>J’accompagne des personnes en quête d’une transformation profonde via un parcours structuré. La sécurité et l’adéquation sont au cœur du travail.</p>
  </div>
</section>

<section class="section qui">
  <div class="container">
    <div class="columns is-multiline">
      
      <div class="column is-12">
        {% include bandeaux/florent-detail.html %}
      </div>
      <div class="column is-12">
        {% include bandeaux/approche.html %}
      </div>
      <div class="column is-4">
        {% include bandeaux/format.html %}
      </div>
      <div class="column is-8">
        {% include bandeaux/pour-qui-court.html %}
      </div>
      <div class="column is-6">
        {% include bandeaux/securite.html %}
      </div>
      <div class="column is-6">
        {% include bandeaux/lieu.html %}
      </div>
      
      <div class="column is-12">
        {% include bandeaux/interesse-pour-vous.html %}
      </div>
      
    </div>
    {% include bandeaux/temoignages.html %}
  </div>
</section>