---
title: "Cadre, sécurité & contre‑indications — Le Seuil"
description: "La sécurité prime: consentement, contre‑indications, cadre holotropique et hypnose."
permalink: /securite/
---

<section class="section intro">
  <div class="container content has-text-centered">
    <h1 class="title is-3">Cadre, sécurité & contre‑indications</h1>    
    <h2 class="is-simple">Une traversée guidée</h2>
  </div>
</section>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-6">
        {% include bandeaux/importance-cadre.html %}
      </div>
      <div class="column is-6">
        {% include bandeaux/role.html %}
      </div>
      <div class="column is-12">
        {% include bandeaux/securite-detail.html %}
      </div>

      <div class="column is-6">
        {% include bandeaux/engagement-mutuel.html %}
      </div>
      <div class="column is-6">
        {% include bandeaux/interesse-detail.html %}
      </div>
    </div>

</div>
</section>