<div id="md-cookies" class="seuil-modal">
    <div class="seuil-modal-overlay">
        <div class="seuil-modal-wrapper">
            <div class="seuil-modal-container">
                
                <!-- Header -->
                <div class="seuil-modal-header">
                    <div class="seuil-modal-title">
                        <div class="illustration"><i class="icon icon-cookies"></i></div>
                        <h2>Cookies et vie privée</h2>
                    </div>
                </div>
                
                <!-- Contenu -->
                <div class="seuil-modal-content has-text-left">
                    <p class="content">Ce site utilise des cookies pour vous proposer une meilleure expérience (contenus, fonctionnalités, etc.).</p>
                    <p class="content">Vous êtes libres d'accepter ou de refuser l'utilisation des cookies. Vous pourrez modifier votre choix à tout moment.</p>
                    <div class="buttons is-centered">
                        <button id="bt-cookies-reject" class="button is-secondary">Tout refuser</button>
                        <button id="bt-cookies-accept" class="button is-secondary">Tout accepter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>