<section class="section has-text-centered content">
  <img class="ouroboros" src="/images/ouroboros.png" srcset="/images/ouroboros.png, /images/ouroboros@2x.png 2x" alt="Ouroboros, symbole de transformation et de renaissance" />
</section>
<footer class="footer" role="contentinfo">
  <div class="container content has-text-centered">
    <p>
      <a href="{{ '/programme/' | relative_url }}">Programme</a> ·
      <a href="{{ '/securite/' | relative_url }}">Sécurité</a> ·
      <a href="{{ '/a-propos/' | relative_url }}">À propos</a> ·
      <a href="{{ '/faq/' | relative_url }}">FAQ</a> ·
      <a href="{{ '/mentions/' | relative_url }}">Mentions légales</a>
    </p>
  </div>
</footer>
