<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
{% seo %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'/%3E">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#E5C7CD"">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000">
{% if page.noindex %}<meta name="robots" content="noindex, nofollow">{% endif %}