@use "ui-variables" as v;
@use "bulma-1.0.4/sass" with (
    $primary: v.$prune-vivid,
    $family-primary: v.$family-sans-serif,
    $text: v.$prune-vivid,
    $content-heading-color: v.$prune-vivid,
    $content-heading-weight: 300,
	$text-strong: v.$prune-vivid,
	$strong-color: v.$prune-vivid,
	$body-family: v.$family-sans-serif,
	$body-size: 19px,
    $body-line-height: 1.4,
    $title-family: v.$family-serif,
	$title-color: v.$prune-vivid,
	$link: v.$prune-vivid,
	$title-weight: 300,
	$subtitle-weight: 300,

    $box-shadow: 0,
    $section-padding: 1.5rem,
    $menu-item-radius: v.$rounded-radius,
    $radius-large: v.$rounded-radius,
    $card-radius: v.$rounded-radius,
    $radius-medium: v.$rounded-radius-medium,
    $card-shadow: 0,
    $button-border-width: 1px,


    $modal-z: 2000,
    $modal-background-background-color: #F8D2B6,
    $modal-content-width: 100%,
    $modal-content-margin-mobile: 0,
    $modal-content-spacing-mobile: 0,
    $modal-content-spacing-tablet: 0,

);