@use "ui-variables" as v;
@use "bulma-1.0.4/sass/utilities/mixins";

@mixin dark-theme {
  body {
    color: v.$prune-vivid-dark-alt;
  }

  .gradient-fixed::before {
    background: v.$main-gradient-dark-alt;
  }

  .title {
    color: v.$prune-vivid-dark-alt;
  }

  strong {
    background-color: v.$pink-light-dark-alt;
    background: linear-gradient(90deg, rgba(#59104A, 1), rgba(#5B085D, 1));
    color: v.$pink-dark-alt-2;
  }

  .is-simple,
  h2.is-simple,
  .content h2,
  .content h2.is-simple,
  .content h2:not(:first-child).is-simple,
  h3,
  .content h3,
  h5, h4 {
    color: v.$prune-vivid-dark-alt;
  }

  .nav-shell {
    background: v.$nav-bar-bg;
    box-shadow: v.$nav-shadow-dark-alt;
  }

  /* Brand chip */
  .brand.nav-chip,
  .nav-chip,
  button.nav-chip {
    background: v.$nav-chip-color-dark-alt;
    color: v.$prune-neutral-dark-alt;
    border: 2px solid v.$nav-chip-color-dark-alt;

    &:hover {
      color: v.$prune-vivid-dark-alt;
      border: 2px solid v.$pink-dark-alt;
    }

    &.is-active,
    &[aria-current="page"] {
      background: v.$pink-dark-alt;
      color: v.$prune-vivid-dark-alt;
      border: 2px solid v.$pink-dark-alt;
    }
  }

  .mobile-overlay {
    box-shadow: v.$nav-shadow-dark-alt;
    background: v.$nav-menu-bg;
  }

  .key-ico {
    color: v.$prune-vivid-dark-alt;
  }

  /* Buttons */
  .button {
    &.is-primary {
      border: none;
      background-color: v.$prune-vivid-dark-alt;
      color: v.$white-dark-alt;

      &:hover {
        background-color: v.$prune-vivid-dark-alt;
        color: v.$white-dark-alt;
      }
    }

    &.is-secondary {
      background-color: v.$white-dark-alt;
      border-color: v.$prune-vivid-dark-alt;
      color: v.$prune-vivid-dark-alt;

      &:hover {
        background-color: v.$pink-dark-alt;
        color: v.$prune-vivid-dark-alt;
        border-color: v.$prune-vivid-dark-alt;
      }
    }
  }

  .section.intro {
    hr {
      background-color: v.$prune-neutral-dark-alt;
    }
  }

  .card,
  .box {
    background-color: v.$white-dark-alt;
    color: v.$prune-vivid-dark-alt;
  }

  .has-hero-contrast {
    background: v.$hero-gradient-dark-alt;
    color: v.$white-dark-alt;

    h2, h3, h4, h5 {
      color: v.$white-dark-alt;
    }

    .button.is-primary {
      background-color: v.$white-dark-alt;
      color: v.$prune-vivid-dark-alt;

      &:hover {
        background-color: v.$pink-dark-alt;
        color: v.$prune-vivid-dark-alt;
      }
    }

    .fa-check-circle.has-text-success {
      color: v.$white-dark-alt !important;
    }
    strong {
      background: linear-gradient(135deg, v.$prune-neutral-dark-alt 0%, v.$prune-vivid-dark-alt 100%);
      color: v.$white-dark-alt;
    }
    .numero-etape {
      background-color: transparent;
      border: 2px v.$white-dark-alt solid;
    }
  }

  .hero-body {
    .box.splash {
      background-image: url("/images/arche-seuil-dark-bg.jpg");
      background-size: cover;
      background-position: center;

      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url("/images/arche-seuil-dark-bg@2x.jpg");
        background-size: cover;
      }
    }
    .benefices .benefice {
      background-color: v.$pink-dark-alt;
    }
  }

  .tag {
    background-color: v.$gold-dark-alt;
    color: v.$gold-light-dark-alt;

    &.is-pink {
      background-color: v.$pink-dark-alt;
      color: v.$prune-vivid-dark-alt;
    }
  }

  .has-gold-contrast {
    background-color: v.$gold-light-dark-alt2;
    background: v.$gold-gradient-dark-alt;
    color: v.$pink-dark-alt-2;

    h3, h4 {
      color: v.$pink-dark-alt-2;
    }

    hr {
      background-color: v.$gold-dark-alt;
    }

    strong {
      background: linear-gradient(90deg, rgba(223,56,132,0.8), rgba(184,31,133,0.8));
      color: #F3D3F8;
    }

    .button.is-secondary {
      background-color: transparent;

      &:hover {
        background-color: v.$brown-dark;
      }
    }
  }
  .has-gold-light-contrast-border { 
    border: 2px solid v.$gold-medium-dark-alt;
  }

  .has-gold-contrast-border {
    border: 2px solid v.$gold-dark-alt;
  }

  .has-orange-medium-contrast {
    background-color: v.$orange-light-dark-alt;
    color: v.$orange-dark-alt;

    h3 { color: v.$orange-dark-alt; }
    small { color: v.$orange-medium-dark-alt; }
    hr { background-color: v.$orange-dark-alt; }
  }
  .has-gold-shadow { 
    box-shadow: v.$gold-shadow-dark-alt; 
  }

  .numero-etape {
    background: v.$pink-dark-alt;
  }

  section.qui .box,
  .card .card-content {
    .content h3 { color: inherit; }
    .secondaire { border-top: 2px v.$pink-dark-alt solid; }
  }

  .box.temoignages {
    .temoignage {
      .texte {
        background-color: v.$white-dark-alt;
      }
    }
  }

  .faq-container {
    .menu-list {
      a:hover {
        color: v.$prune-vivid-dark-alt;
        border: 2px solid v.$pink-dark-alt;
      }

      a.is-active {
        color: v.$prune-vivid-dark-alt;
        background-color: v.$pink-dark-alt;
      }
    }

    .button.is-light {
      background-color: v.$pink-light-dark-alt;
      color: v.$prune-vivid-dark-alt;
    }
  }

  .has-pink-contrast {
    background-color: v.$pink-dark-alt;

    strong {
      background: linear-gradient(90deg, #460138, #621252);
      color: v.$pink-dark-alt-2;
    }
  }

  .skip-link:focus {
    background: #fff;
    border: 2px solid v.$prune-vivid-dark-alt;
  }

  /* =========================
      Bénéfices
    ========================= */
    #benefices {
      .box.benefices {
        background-color: rgba(0,0,0,0.4  );
        .columns {
          background-color: v.$white-dark-alt;
          border: 3px v.$pink-dark-alt solid;
          
          .column:not(:last-child) {
            border-right: 3px v.$pink-dark-alt dotted;

            &::after {
              background-color: v.$pink-dark-alt;
            }
          }
        }
      }
    }

  /* Adequation form */
  .adequation {
    .label {
      color: v.$prune-vivid-dark-alt;
    }

    .columns.field.is-horizontal {
      .column.is-3 .label {
        color: v.$prune-vivid-dark-alt;
      }

      .column.is-9 {
        td { border-bottom: 2px v.$white-dark-alt solid; }

        .grille-sante,
        .grille-logistique {
          background-color: v.$pink-light-dark-alt;
        }

        input, select, textarea {
          border: 2px solid v.$pink-dark-alt;

          &:hover {
            border: 2px solid v.$prune-vivid-dark-alt;
          }

          &.is-success { border: 2px solid var(--bulma-success); }
          &.is-danger { border: 2px solid var(--bulma-danger); }
        }

        .is-checkradio {
          &.is-danger[type=checkbox]+label::before,
          &.is-danger[type=radio]+label::before {
            border: 2px solid var(--bulma-danger);
          }

          &[type="radio"] {
            + label::before {
              background-color: v.$white-dark-alt;
              border-color: v.$pink-dark-alt;
            }
            + label::after {
              background-color: v.$prune-vivid-dark-alt;
            }
          }

          &[type=checkbox]:hover:not([disabled])+label::before,
          &[type=radio]:hover:not([disabled])+label::before {
            border-color: v.$prune-vivid-dark-alt !important;
          }

          &[type=checkbox]:checked+label::before,
          &[type=radio]:checked+label::before {
            background-color: v.$white-dark-alt;
            border-color: v.$pink-dark-alt;
          }

          &[type=checkbox]+label::before,
          &[type=radio]+label::before {
            background-color: v.$white-dark-alt;
            border-color: v.$pink-dark-alt;
          }
        }
      }
    }

    .progress-wrap {
      .progress-label {
        color: v.$prune-vivid-dark-alt;
      }
    }
    
  }

  .footer {
    background-color: rgba(0, 0, 0, 0.75);
  }

  @include mixins.tablet-only {
    .avant-pendant-apres .column:not(:first-child) {
      border-left: 2px v.$brown-dark solid;
    }
  }

  @include mixins.mobile {
    .avant-pendant-apres .column:not(:first-child) {
      border-top: 2px v.$brown-dark solid;
    }

    .hero-body .box.splash {
      background-position: top center;
      height:30rem;
    }

    section.adequation {
      .adequation-close.button.is-white {
        background: rgba(0, 0, 0, 0.9);
        color: v.$prune-vivid-dark-alt;
      }

      .form-step:not([data-step="0"]):not([data-step="0b"]) {
        background: v.$main-gradient-dark-alt;

        .column.is-9 { background-color: v.$white-dark-alt; }
        .column.is-3 {
          background: v.$nav-bar-bg;
          box-shadow: v.$nav-shadow-dark-alt;
        }

        .column.is-9 .buttons {
          background: v.$nav-bar-bg;
          box-shadow: v.$nav-shadow-dark-alt;

          .button.is-secondary { background: transparent; }
        }
      }

      .column.is-3 .progress-wrap .progress {
        --bulma-progress-bar-background-color: var(--bulma-border-weak);
      }

      .columns.field.is-horizontal .column.is-9 {
        .grille-sante,
        .grille-logistique {
          tr td:last-child {
            border-bottom: 2px v.$white-dark-alt solid;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;
  }
}

[data-theme=dark],
.theme-dark {
  @include dark-theme;
}