<div class="card">
    <div class="card-content">
        <div class="principal">
            <p class="illustration"><i class="icon icon-seuil"></i></p>
            <h3>L'approche</h3>
            <h4>Une approche intégrative, symbolique et somatique</h4>
        </div>

        <div class="content has-text-left">
            <p>Le Seuil est un <strong>rite de passage structuré</strong>.</p>
            <p>La trame du parcours joue le rôle d’une <strong>arche protectrice</strong> : elle balise le chemin et crée un contenant sécurisé ; à l’intérieur, votre traversée reste singulière et ajustée à ce qui émerge.</p>
            <p>Ce parcours réunit hypnose, respiration holotropique, méditation et rituels symboliques.</p>
        </div>
    </div>
</div>