<div class="card">
    <div class="card-content">
    <div class="principal">
        <p class="illustration"><i class="icon icon-collaboration"></i></p>
        <h3>Un engagement mutuel</h3>
        <h4>Respect, sincérité et co‑création</h4>
    </div>
    <div class="content has-text-left">
        <p>Je m’engage à la confidentialité, à une posture d’humilité et au respect des limites de chacun.</p>
        <p>De votre côté, vous vous engagez à être à l’écoute de vous-même, à respecter vos propres limites et à entrer dans le processus avec sincérité.</p>
        <p>L’accompagnement est une co‑création, un partenariat.</p>
    </div>
    </div>
</div>