<div class="card">
    <div class="card-content">
    <div class="principal">
        <h3>Florent Jaouali</h3>
        <h4>Psychopraticien Transpersonnel</h4>
        <p><img class="florent" src="/images/florent.png" srcset="/images/florent.png, /images/florent@2x.png 2x" alt="Florent Jaouali, Psychopraticien transpersonnel"></p>
        <div class="cle">« J’accompagne les grandes transitions de vie par des parcours structurés et rituels intégratifs. »</div>
    </div>
    <div class="has-text-centered is-hidden-desktop">
        <button class="plus" aria-label="plus" aria-expanded="false">
        <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
        </button>
    </div>

    <div class="secondaire content is-hidden is-visible-desktop" aria-hidden="true">
        <p><strong>Qui suis-je</strong> : j’accompagne des personnes engagées dans des transformations de vie — celles et ceux qui traversent des séparations, des deuils, des réorientations, ou ressentent un appel intérieur diffus.</p>
        <p>Mon travail se situe à la croisée du soin et du rite : je propose un cadre structuré où les pratiques somatiques et symboliques se répondent pour permettre une transformation intégrée.</p>
        <p><strong>Formation & supervision</strong> : formé en hypnose thérapeutique, respiration holotropique et pratiques transpersonnelles, je travaille sous supervision régulière et collabore avec des professionnels de santé selon les besoins. Cette pratique s’inscrit dans une éthique stricte et une formation continue.</p>
        <div class="buttons is-centered-touch">
            <a class="button is-secondary" href="https://www.luminose.fr/florent-jaouali.html" target="_blank">Mon parcours détaillé</a>
        </div>
        
    </div>
    </div>
</div>