<div class="box content has-gold-contrast florent">
    <div class="columns is-vcentered">
        <div class="column is-3 has-text-centered">
            <img class="florent" src="/images/florent.png" srcset="/images/florent.png, /images/florent@2x.png 2x" alt="Florent Jaouali, Psychopraticien transpersonnel">
        </div>
        <div class="column is-4 has-text-centered-mobile">
            <h2 class="title person">Florent Jaouali</h2>
            <h3 class="subtitle job">Psychopraticien transpersonnel</h3>
            <p class="contact block is-hidden-mobile"><a href="tel:+33637332655">06 37 33 26 55</a> - <a href="mailto:florent@luminose.fr">florent@luminose.fr</a></p>
            <div class="buttons is-centered-touch">
                <a class="button is-secondary" href="{{ '/a-propos/' | relative_url }}">À propos</a>
            </div>
        </div>
        <div class="column is-5 is-hidden-mobile">
            <div class="content">
            <div class="ligne adresse block"><span class="nom">Lieu :</span><span class="valeur is-styled-tag">2 Avenue de Verdun<br />Le Moulin de Barrelles<br />31 290 Villefranche de Lauragais</span></div>
        </div>
    </div>
</div>