<div class="card">
    <div class="card-content">
    <div class="principal">
        <p class="illustration"><i class="icon icon-bougie"></i></p>
        <h3>Qui suis-je</h3>        
        <h4>Psychopraticien transpersonnel</h4>
    </div>

    <div class="content">
        
        <p>Ma formation combine approches somatiques, hypnose thérapeutique et traditions transpersonnelles ; je mène des parcours structurés autour de la respiration holotropique, toujours dans un cadre sécurisé et intégratif.</p>
        <p><small>Je ne suis pas psychiatre : les pathologies graves relèvent d’un suivi médical et peuvent rendre le parcours inadapté.</small></p>
        <div class="buttons is-centered">
            <a class="button is-secondary" href="https://www.luminose.fr/florent-jaouali.html" target="_blank">En savoir plus</a>
        </div>
        
    </div>
    </div>
</div>