<div class="card">
    <div class="card-content">
    <div class="principal">
        <h3>Pourquoi est-ce si important ?</h3>
        <h4>Un cadre pour traverser en sécurité</h4>
    </div>
    <div class="content has-text-left">
        <p>Le breathwork holotropique (respiration holotropique) et les états élargis de conscience ne sont pas une technique “douce” de relaxation. Ce sont des <strong>approches puissantes</strong>, qui peuvent faire émerger des émotions profondes, des souvenirs, parfois des images transpersonnelles très intenses. Pour que cela soit bénéfique et soutenant, il faut un cadre clair et une sécurité à chaque instant.</p>
    </div>
    </div>
</div>