<div class="card">
    <div class="card-content">
        <div class="principal">
            <p class="illustration"><i class="icon icon-lantern"></i></p>
            <h3>Le lieu</h3>
            <h4>Un espace pour traverser</h4>
        </div>

        <div class="content has-text-left">
            <div class="columns">
                <div class="column is-5">
                    <p>Les séances présentielles ont lieu dans mon cabinet à Villefranche de Lauragais.</p>      
                    <p>L’espace est conçu pour la confidentialité, la sécurité et le confort : tapis et coussins, zone d’intégration, matériel sonore (tambour/gong).</p>
                </div>
                <div class="column is-7">
                    Carousel ici
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="box">
    <div class="content has-text-left">
            <div class="columns">
                <div class="column is-5">
                    <p>Les séances présentielles ont lieu dans mon cabinet à Villefranche de Lauragais.</p>      
                    <p>L’espace est conçu pour la confidentialité, la sécurité et le confort : tapis et coussins, zone d’intégration, matériel sonore (tambour/gong).</p>
                </div>
                <div class="column is-7">
                    <div class="swiffy-slider slider-nav-noloop slider-indicators-round">
                        <ul class="slider-container">
                            <li><img class="has-rounded-corners" src="/images/cabinet-fauteuil.jpg" srcset="/images/cabinet-fauteuil.jpg, /images/cabinet-fauteuil@2x.jpg 2x" alt="Cabinet, espace thérapeutique confortable"></li>
                            <li><img class="has-rounded-corners" src="/images/cabinet-matelas.jpg" srcset="/images/cabinet-matelas.jpg, /images/cabinet-matelas@2x.jpg 2x" alt="Matelas pour respiration holotropique"></li>
                            <li><img class="has-rounded-corners" src="/images/cabinet-tambour.jpg" srcset="/images/cabinet-tambour.jpg, /images/cabinet-tambour@2x.jpg 2x" alt="Tambour pour soutien énergétique"></li>
                        </ul>

                        <button type="button" class="slider-nav is-hidden-touch"></button>
                        <button type="button" class="slider-nav slider-nav-next is-hidden-touch"></button>

                        <div class="slider-indicators">
                            <button class="active"></button>
                            <button></button>
                            <button></button>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

</div>