<div class="card">
    <div class="card-content">
    <div class="principal">
        <p class="illustration"><i class="icon icon-small-plant"></i></p>
        <h3>Pour qui ?</h3>
        <h4>À qui se destine Le Seuil ?</h4>
    </div>

    <div class="content has-text-left">
        <ul>
        <li><strong>Ceux qui traversent une étape charnière :</strong> séparation, deuil, réorientation, naissance, départ… quand un monde se ferme et qu’un autre appelle.</li>
        <li><strong>Ceux qui veulent rompre un cycle :</strong> répéter toujours les mêmes schémas, se heurter aux mêmes impasses, et chercher une vraie sortie.</li>
        <li><strong>Ceux qui sentent un appel intérieur :</strong> un malaise diffus, une quête de sens, l’intuition qu’il y a « plus » à rencontrer en soi.</li>
        <li><strong>Ceux qui choisissent de s’engager :</strong> disponibilité, courage et envie de traverser un processus profond, soutenu, comme un rite de passage.</li>
        </ul>
    </div>
    </div>
</div>