<div class="card">
    <div class="card-content">
    <div class="principal">
        <p class="illustration"><i class="icon icon-small-plant"></i></p>
        <h3>Pour qui ?</h3>
        <h4>À qui se destine Le Seuil ?</h4>
    </div>

    <div class="content has-text-left">
        <ul>
        <li><strong>Transitions majeures</strong> : séparation, deuil, réorientation, naissance, déménagement radical.</li>
        <li><strong>Malaise diffus</strong> : sentiment de ne pas être à sa place ou appel intérieur.</li>
        <li><strong>Personne prête à s’engager</strong> : disponibilité, temps et envie de travail entre séances.</li>
        </ul>
    </div>
    </div>
</div>