<div class="box content programme">
    <p class="illustration"><i class="icon icon-seuil"></i></p>
    <h3>Programme</h3>
    <div class="columns is-vcentered">
        <div class="column is-4">
            <h2>« Là où l’ancien s’achève,<br />Le Seuil vous accompagne pour traverser et renaître. »</h2>
        </div>
        <div class="column is-4">
            <figure class="image image-container-egg">
                <picture>
                <!-- Version dark -->
                <source 
                    srcset="{{ '/images/arche-seuil-dark.jpg' | relative_url }}, {{ '/images/arche-seuil-dark@2x.jpg' | relative_url }} 2x" 
                    media="(prefers-color-scheme: dark)">
                
                <!-- Version light (fallback avec retina) -->
                <img 
                    class="image-fit"
                    src="{{ '/images/arche-seuil.jpg' | relative_url }}" 
                    srcset="{{ '/images/arche-seuil.jpg' | relative_url }}, {{ '/images/arche-seuil@2x.jpg' | relative_url }} 2x" 
                    alt="Arche de passage, symbole de seuil" />
                </picture>
            </figure>
        </div>
        
        <div class="column is-4">
            
            <p>Vous sentez qu’il faut changer.</p>
            <p>Le Seuil est une <strong>traversée guidée</strong> qui vous aide à laisser l’ancien et retrouver l’élan.</p>
            <p class="title is-5">4 mois · 7 étapes</p>
            <div class="buttons is-centered">
                <a class="button is-secondary" href="{{ '/programme/' | relative_url }}">Découvrir le programme</a>
            </div>
            <p class="tags">
                <span class="tag">Présentiel & visio</span>
                <span class="tag">Cadre sécurisé</span>
            </p>
        </div>
    </div>
</div>