<div class="card">
    <div class="card-content">
    <div class="principal">
        <h3>Mon rôle comme facilitateur</h3>
        <h4>Ni médecin, ni gourou – un guide dans le processus</h4>
    </div>
    <div class="content has-text-left">
        <p>Je ne suis pas médecin, je n’établis pas de diagnostic et je ne propose pas de traitement médical.</p>
        <p>Mon rôle est de créer un environnement sûr, de guider, d’accompagner et de contenir l’expérience.</p>
        <p>Je travaille avec rigueur, bienveillance, et je suis régulièrement en supervision pour garantir la qualité de mon accompagnement.</p>
    </div>
    </div>
</div>