<div class="box content has-gold-contrast has-gold-contrast-border has-text-centered">
    <p class="illustration"><i class="icon icon-securite"></i></p>
    <p>Entretien découverte offert et sans engagement (1h)</p>
    <hr />
    <p>Places limitées pour un accompagnement de qualité</p>
    <div class="buttons is-centered">
        <a class="button is-secondary" href="{{ '/securite/' | relative_url }}">En savoir plus sur <span class="is-hidden-mobile">le cadre et</span>la sécurité</a>
    </div>
</div>