{% if site.data.temoignages %}
	{% assign temoignages = site.data.temoignages | slice: 0,9 %}
{% endif %}
{% if temoignages.size > 0 %}
{% assign nb_additional_buttons = temoignages.size | divided_by: 3 | ceil | minus: 1 %}
<div class="box temoignages has-orange-medium-contrast">
	<div class="swiffy-slider slider-nav-noloop slider-indicators-round slider-item-show3">
		<p class="illustration"><i class="icon icon-temoignages"></i></p>
		<h3>Témoignages</h3>
		
		<ul class="slider-container">
		{% for temoignage in temoignages %}
			<li class="temoignage">
				<div class="texte has-rounded-corners">« {{ temoignage.texte | strip_html }} »</div>
				<div class="metadata-container">
					<div class="auteur">{{ temoignage.auteur | strip_html }}</div>
					<div class="etoiles">
						{% for j in (1..5) %}
						{% if j > temoignage.etoiles %}
							<i class="far fa-star"></i>
						{% else %}
							<i class="fas fa-star"></i>
						{% endif %}
						{% endfor %}
					</div>
					<small class="date">{{ temoignage.date | strip_html }}</small>
				</div>
			</li>
		{% endfor %}
		</ul>

		<button type="button" class="slider-nav is-hidden-touch"></button>
		<button type="button" class="slider-nav slider-nav-next is-hidden-touch"></button>
		
		<div class="slider-indicators">
			<button class="active"></button>
			{% for i in (1..nb_additional_buttons) %}
			<button></button>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}