<!-- STEP 5 - PRISE DE RDV (Calendly) -->
        <div class="form-step is-hidden" data-step="5">
            <div class="columns field is-horizontal">

            <div class="column is-3">
              <div class="progress-wrap">
                <progress id="adequation-progress" class="progress" value="100" max="100"></progress>
                <div class="progress-label" id="adequation-progress-label-4">Étape 5 / 5</div>
              </div>
              <label class="label">Prise de rendez-vous</label>
            </div>

            <div class="column is-9">
                <p class="small-note">Cet entretien gratuit d'1h est l’occasion d’échanger sur votre parcours, vos motivations et vos attentes. Nous vérifierons ensemble si Le Seuil est adapté à votre situation.</p>
                <div id="ade-calendly" class="calendly-wrapper" style="min-height:480px;"></div>
            </div>
        </div>