<!-- STEP 5 - PRISE DE RDV (Calendly) -->
<div class="form-step is-hidden" data-step="5">
    <button type="button" class="adequation-close button is-white" aria-label="Fermer le formulaire" title="Fermer"><i
            class="fas fa-times"></i></button>
    <div class="columns field is-horizontal">

        <div class="column is-3">
            <div class="progress-wrap">
                <progress id="adequation-progress" class="progress" value="100" max="100"></progress>
                <div class="progress-label" id="adequation-progress-label-4">Étape 5 / 5</div>
            </div>
            <label class="label">Votre rendez-vous</label>
        </div>

        <div class="column is-9">
            <div id="ade-calendly" class="calendly-wrapper"></div>
        </div>
    </div>
</div>