<!-- Exclusion panel -->
<div class="columns field is-horizontal is-hidden" id="ade-exclusion">
    <div class="column is-3">
        <label class="label">Merci pour votre franchise</label>
    </div>

    <div class="column is-9">
        <p class="notification is-danger is-light" role="alert">Malheuresement, d'après vos réponses et pour des raisons de
            sécurité, ce parcours ne me semble pas adapté à votre situation actuelle.</p>
        <p>Vous pouvez demander un examen manuel si vous pensez qu'il y a une erreur ou qu'avec certains aménagements ce
            parcours pourrait vous être adapté.</p>
        {% include tiny-signature.html %}


        <div class="buttons">
            <a class="button is-secondary" href="/securite/">Voir la page cadre & sécurité</a>
            <a href="mailto:florent@luminose.fr?subject=Demande examen manuel - Le Seuil" type="button"
                class="button is-primary">Demander un examen manuel</a>
        </div>
    </div>
</div>